<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> <title>Add your Typeform title here</title> <style type="text/css"> html{ margin: 0; height: 100%; overflow: hidden; } iframe{ position: absolute; left:0; right:0; bottom:0; top:0; border:0; } </style>
        <meta charset="utf-8">

        <title>EzLigy | Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="{% static 'landing/css/flexslider.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'landing/css/line-icons.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'landing/css/elegant-icons.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'landing/css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'landing/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'landing/css/theme-blues.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="{% static 'landing/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>

		<div class="nav-container">
			<nav class="top-bar overlay-bar">
				<div class="container">

					<!--end of row-->


					<div class="row nav-menu">
						<div class="col-sm-3 col-md-2 columns">
							<a href="{% url 'index' %}">
								<img class="logo logo-light" alt="Logo" src="{% static 'landing/img/logo-light.png' %}">
								<img class="logo logo-dark" alt="Logo" src="{% static 'landing/img/logo-dark.png' %}">
							</a>
						</div>



							<ul class="social-icons text-right">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
							</ul>



						</div>

					</div><!--end of row-->

					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>

				<!--end of container-->
			</nav>
		</div>

			<iframe id="typeform-full" width="100%" height="100%" frameborder="0" src="https://pranay24.typeform.com/to/K7A3AV"></iframe> <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/share.typeform.com/embed.js"></script>




<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


		<script src="{% static 'landing/js/jquery.min.js' %}"></script>
        <script src="{% static 'landing/js/jquery.plugin.min.js' %}"></script>
        <script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'landing/js/jquery.flexslider-min.js' %}"></script>
        <script src="{% static 'landing/js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'landing/js/skrollr.min.js' %}"></script>
        <script src="{% static 'landing/js/spectragram.min.js' %}"></script>
        <script src="{% static 'landing/js/scrollReveal.min.js' %}"></script>
        <script src="{% static 'landing/js/isotope.min.js' %}"></script>
        <script src="{% static 'landing/js/twitterFetcher_v10_min.js' %}"></script>
        <script src="{% static 'landing/js/lightbox.min.js' %}"></script>
        <script src="{% static 'landing/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'landing/js/scripts.js' %}"></script>
    <script>

</script>
    </body>
</html>
