<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>EzLigy | Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="{% static 'landing/css/flexslider.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'landing/css/line-icons.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'landing/css/elegant-icons.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'landing/css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'landing/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'landing/css/theme-blues.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="{% static 'landing/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>


		<div class="nav-container">
			<nav class="top-bar">
				<div class="container">

					<!--end of row-->


					<div class="row nav-menu">
						<div class="col-sm-3 col-md-2 columns">
							<a href="{% url 'index' %}">
								<img class="logo logo-light" alt="Logo" src="{% static 'landing/img/logo-light.png' %}">
								<img class="logo logo-dark" alt="Logo" src="{% static 'landing/img/logo-dark.png' %}">
							</a>
						</div>

						<div class="col-sm-9 col-md-10 columns">
							<ul class="menu">

                                <li class=" has-dropdown "><a class="smoothScroll" href="{% url 'index' %}#services">Services</a>
									<div class="subnav subnav-fullwidth">
										<div class="col-md-3">
                                            <ul class="subnav">
											<li class="alt-font"><a href="{% url 'formation' %}">Formation of a Entity </a></li>
                                            <h6 class="alt-font">Registration</h6>
                                            <h6 class="alt-font">Fillings</h6>
                                            </ul>


										</div>
                                        <div class="col-md-3">
											<h6 class="alt-font">Certificate</h6>
                                            <h6 class="alt-font">Miscellaneous Services</h6>
                                            <h6 class="alt-font">Income Tax</h6>

										</div>
                                        <div class="col-md-3">
											<h6 class="alt-font">Audits</h6>
                                            <h6 class="alt-font">Services Related to Company</h6>
                                            <h6 class="alt-font">Change Management</h6>
										</div>


										<div class="col-md-3">

											<a class="btn btn-primary btn-filled" href="{% url 'sitemap' %}">All Services</a>
										</div>
									</div>
								</li>
                                <li class="has-dropdown"><a href="{% url 'paralegal' %}">Paralegal Services</a>
									<ul class="subnav">
                                        <li ><a class="smoothScroll" href="{% url 'paralegal' %}#filling">Filling</a></li>
                                        <li ><a class="smoothScroll" href="{% url 'paralegal' %}#drafting">Drafting</a></li>
										<li ><a class="smoothScroll" href="{% url 'paralegal' %}#obtaining">Obtaining Certified Copies</a></li>
										<li ><a class="smoothScroll" href="{% url 'paralegal' %}#rti">RTI Filling</a></li>
                                        <li ><a class="smoothScroll" href="{% url 'paralegal' %}#process">process services</a></li>
										<li ><a class="smoothScroll" href="{% url 'paralegal' %}#office">Office Management services</a></li>
                                        <li ><a class="smoothScroll" href="{% url 'paralegal' %}#translation">Translation services</a></li>
                                        <li ><a class="smoothScroll" href="{% url 'paralegal' %}#steno">Steno services</a></li>
									</ul>
								</li>
                                <li> <a  href="{% url 'contact' %}"> <i class="icon icon_mobile"></i>Contact Us</a></li>





							</ul>

							<ul class="social-icons text-right">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>

								<li>
									<a href="https://www.facebook.com/Legalplatformezligy">
										<i class="icon social_facebook"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
							</ul>



						</div>

					</div><!--end of row-->

					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>

				</div><!--end of container-->
			</nav>
		</div>
		<div class="main-container">
			<header class="page-header">
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="Background Image" src="{% static 'landing/img/law_main.jpg' %}">
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<span class="text-white alt-font">Ezligy&nbsp;</span>
							<h1 class="text-white">Our Services</h1>

						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>
            <section class="duplicatable-content">
				<div class="container">
					<div class="row">

                        <div class="col-sm-4">
							<div class="feature">
								<h5 style="font-size: 25px"><i class="icon icon_check"></i>Registration</h5>
								<p>
									<ul style="font-size: 16px; " >
                                <li><i class="icon arrow_triangle-right"></i>Shop Act registration</li>
                                        <li><i class="icon arrow_triangle-right"></i>Sales tax registration (VAT &amp; CST)/TIN Number</li>
                                        <li><i class="icon arrow_triangle-right"></i>GST Registration/Conversion</li>
                                        <li><i class="icon arrow_triangle-right"></i>Partnership registration</li>
                                        <li><i class="icon arrow_triangle-right"></i>Service Tax Registration</li>
                                        <li><i class="icon arrow_triangle-right"></i>Excise Registration</li>
                                        <li><i class="icon arrow_triangle-right"></i>PF Registration</li>
                                        <li><i class="icon arrow_triangle-right"></i>ESI Registration</li>
                                        <li><i class="icon arrow_triangle-right"></i>FSSAI Registration (Central / State level)</li>
                                        <li><i class="icon arrow_triangle-right"></i>Gratuity Registration</li>
                                        <li><i class="icon arrow_triangle-right"></i>Professional Tax Registration</li>
                                        <li><i class="icon arrow_triangle-right"></i>Trademark Registration</li>
                                        <li><i class="icon arrow_triangle-right"></i>Import-Export Code</li>
                                        <li><i class="icon arrow_triangle-right"></i>ISO Certification</li>
                                        <li><i class="icon arrow_triangle-right"></i>TAN Number</li>
                                        <li><i class="icon arrow_triangle-right"></i>PAN Number</li>
                                        <li><i class="icon arrow_triangle-right"></i>DIN</li>
                                        <li><i class="icon arrow_triangle-right"></i>HUF Formation</li>
                                        <li><i class="icon arrow_triangle-right"></i>Digital Signature ( Class2 &amp; Class 3)</li>





                            </ul>
								</p>
							</div>
						</div><!--end 4 col-->
                        <div class="col-sm-4">
							<div class="feature">
								<h5 style="font-size: 25px"><i class="icon icon_check"></i>Audits</h5>

									<ul style="font-size: 16px; " >
                                        <li><i class="icon arrow_triangle-right"></i>Tax Audit</li>
                                        <li><i class="icon arrow_triangle-right"></i>Company Audit</li>
                                        <li><i class="icon arrow_triangle-right"></i>Audit of Societies</li>
                                        <li><i class="icon arrow_triangle-right"></i>Stock Audit</li>
                                        <li><i class="icon arrow_triangle-right"></i>Internal Audit</li>
                                        <li><i class="icon arrow_triangle-right"></i>Statutory Audit</li>
                                        <li><i class="icon arrow_triangle-right"></i>Fixed Asset Audit</li>
                                        <li><i class="icon arrow_triangle-right"></i>Compliance Audit</li>
                                        <li><i class="icon arrow_triangle-right"></i>System Audit/EDP Audit</li>
                                        <li><i class="icon arrow_triangle-right"></i>LLP Audit</li>
                                        <li><i class="icon arrow_triangle-right"></i>Due Diligence</li>
                                        <li><i class="icon arrow_triangle-right"></i>Management Audit</li>
                                        <li><i class="icon arrow_triangle-right"></i>Revenue Audit</li>
                                        <li><i class="icon arrow_triangle-right"></i>VAT Audit</li>
                                        <li><i class="icon arrow_triangle-right"></i>Service Tax Audit</li>




                            </ul>

							</div>
						</div><!--end 4 col-->
                        <div class="col-sm-4">
							<div class="feature">
								<h5 style="font-size: 25px"><i class="icon icon_check"></i>Services Related to Company</h5>

									<ul style="font-size: 16px; " >

                                        <li><i class="icon arrow_triangle-right"></i>Calculation of Fees for Incorporation</li>
                                        <li><i class="icon arrow_triangle-right"></i>Name Availability</li>
                                        <li><i class="icon arrow_triangle-right"></i>Draft Board Resolutions</li>
                                        <li><i class="icon arrow_triangle-right"></i>Draft Shareholders Resolutions</li>
                                        <li><i class="icon arrow_triangle-right"></i>Draft Minutes of the meetings (AGM/EGM/BM)\</li>
                                        <li><i class="icon arrow_triangle-right"></i>Search of a company</li>
                                        <li><i class="icon arrow_triangle-right"></i>Compliances of ROC</li>
                                        <li><i class="icon arrow_triangle-right"></i>Annual filling of a Company</li>
                                        <li><i class="icon arrow_triangle-right"></i>Conversion of Company into LLP</li>
                                        <li><i class="icon arrow_triangle-right"></i>Conversion of Partnership into LLP</li>
                                        <li><i class="icon arrow_triangle-right"></i>Conversion of Proprietorship into LLP</li>
                                        <li><i class="icon arrow_triangle-right"></i>Winding Up/ Closure of a Company</li>
                                        <li><i class="icon arrow_triangle-right"></i>Winding Up/ Closure of a LLP</li>
                                        <li id="view_click" type="button"><i class="icon arrow_triangle-right"></i>View <p id="view" >{% for i in '1234'%}&nbsp;{% endfor %} Public Documents of a Company</br>
                                        {% for i in '1234'%}&nbsp;{% endfor %} Master data of a company</br>
                                        {% for i in '1234'%}&nbsp;{% endfor %} Signatory details of a Company</br>
                                        {% for i in '1234'%}&nbsp;{% endfor %} Index of Charge of a Company</br>
                                        {% for i in '1234'%}&nbsp;{% endfor %} Companies/LLPs Registered in last 30 days</p></li>





                            </ul>
								</p>
							</div>
						</div><!--end 4 col-->

                    </div><!--end of row-->


                    <div class="row">


                        <div class="col-sm-4">
                                <div class="feature">
                                    <h5 style="font-size: 25px"><i class="icon icon_check"></i>Fillings</h5>

                                        <ul style="font-size: 16px; " >
                                            <li><i class="icon arrow_triangle-right"></i>Sales tax return</li>
                                            <li><i class="icon arrow_triangle-right"></i>Service Tax Return</li>
                                            <li><i class="icon arrow_triangle-right"></i>TDS return</li>
                                            <li><i class="icon arrow_triangle-right"></i>Excise return</li>
                                            <li><i class="icon arrow_triangle-right"></i>PF Return</li>
                                            <li><i class="icon arrow_triangle-right"></i>ESI Return</li>
                                            <li><i class="icon arrow_triangle-right"></i>PT Return</li>
                                            <li><i class="icon arrow_triangle-right"></i>Income Tax Return</li>
                                            <li><i class="icon arrow_triangle-right"></i>MAT Return</li>




                                </ul>

                                </div>
                            </div><!--end 4 col-->
                        <div class="col-sm-4">
                                <div class="feature">
                                    <h5 style="font-size: 25px"><i class="icon icon_check"></i>Formation of a Entity</h5>

                                        <ul style="font-size: 16px; " >
                                            <li><i class="icon arrow_triangle-right"></i>Sole Proprietorship</li>
                                            <li><i class="icon arrow_triangle-right"></i>Partnership</li>
                                            <li><i class="icon arrow_triangle-right"></i>Limited Liability Partnership</li>
                                            <li><i class="icon arrow_triangle-right"></i>One Person company</li>
                                            <li><i class="icon arrow_triangle-right"></i>Private Limited Company</li>
                                            <li><i class="icon arrow_triangle-right"></i>Public Limited Company</li>
                                            <li><i class="icon arrow_triangle-right"></i>Nidhi Company</li>
                                            <li><i class="icon arrow_triangle-right"></i>Section 8 Company</li>
                                            <li><i class="icon arrow_triangle-right"></i>Producer Company</li>
                                            <li><i class="icon arrow_triangle-right"></i>Society</li>
                                            <li><i class="icon arrow_triangle-right"></i>Trust</li>




                                </ul>

                                </div>
                            </div><!--end 4 col-->
                        <div class="col-sm-4">
							<div class="feature">
								<h5 style="font-size: 25px"><i class="icon icon_check"></i>Certificate</h5>

									<ul style="font-size: 16px; " >
                                        <li><i class="icon arrow_triangle-right"></i>Form 15 CA &amp; 15 CB</li>
                                        <li><i class="icon arrow_triangle-right"></i>Net worth Certificate</li>
                                        <li><i class="icon arrow_triangle-right"></i>Turnover Certificate</li>
                                        <li><i class="icon arrow_triangle-right"></i>Shareholding Pattern Certificate</li>
                                        <li><i class="icon arrow_triangle-right"></i>Form 15G &amp; 15 H</li>
                                        <li><i class="icon arrow_triangle-right"></i>Form 16/16A Generation</li>




                            </ul>

							</div>
						</div><!--end 4 col-->

                    </div><!--end of row-->


                    <div class="row">
                        <div class="col-sm-4">
							<div class="feature">
								<h5 style="font-size: 25px"><i class="icon icon_check"></i>Income Tax</h5>

									<ul style="font-size: 16px; " >
                                        <li><i class="icon arrow_triangle-right"></i>Income Tax return</li>
                                        <li><i class="icon arrow_triangle-right"></i>Revised return</li>
                                        <li><i class="icon arrow_triangle-right"></i>Bulk Filing of Return</li>
                                        <li><i class="icon arrow_triangle-right"></i>Reply of notices to Income Tax</li>
                                        <li><i class="icon arrow_triangle-right"></i>Rectification of Return</li>
                                        <li><i class="icon arrow_triangle-right"></i>Income Tax Assessment at<p>
                                            {% for i in '1234'%}&nbsp;{% endfor %} Income Tax Officer/DCIT/ACIT<br>
                                        {% for i in '1234'%}&nbsp;{% endfor %} Commissioner of Tax<br>
                                        {% for i in '1234'%}&nbsp;{% endfor %} Commissioner of Tax (Appeal)<br>
                                        {% for i in '1234'%}&nbsp;{% endfor %} ITAT<br>
                                        {% for i in '1234'%}&nbsp;{% endfor %} High Court<br>
                                        {% for i in '1234'%}&nbsp;{% endfor %} Supreme Court<br>
                                        </p></li>




                            </ul>

							</div>
						</div><!--end 4 col-->
                        <div class="col-sm-4">
							<div class="feature">
								<h5 style="font-size: 25px"><i class="icon icon_check"></i>Change Management</h5>

									<ul style="font-size: 16px; " >
                                        <li><i class="icon arrow_triangle-right"></i>Change of Name</li>
                                        <li><i class="icon arrow_triangle-right"></i>Change in Registered Office of the Company</li>
                                        <li><i class="icon arrow_triangle-right"></i>Change in Director</li>
                                        <li><i class="icon arrow_triangle-right"></i>Change in Share Capital</li>
                                        <li><i class="icon arrow_triangle-right"></i>Change in AOA of the Company</li>
                                        <li><i class="icon arrow_triangle-right"></i>Change in Objects of the Company</li>
                                        <li><i class="icon arrow_triangle-right"></i>Change in Auditor of The Company</li>
                                        <li><i class="icon arrow_triangle-right"></i>Charge Services<p>
                                            {% for i in '1234'%}&nbsp;{% endfor %} Creation of Charge<br>
                                        {% for i in '1234'%}&nbsp;{% endfor %} Modification of Charge<br>
                                        {% for i in '1234'%}&nbsp;{% endfor %} Satisfaction of Charge<br>

                                        </p></li>




                            </ul>

							</div>
						</div><!--end 4 col-->
                        <div class="col-sm-4">
							<div class="feature">
								<h5 style="font-size: 25px"><i class="icon icon_check"></i>Miscellaneous Services</h5>

									<ul style="font-size: 16px; " >
                                        <li><i class="icon arrow_triangle-right"></i>Income Tax return</li>
                                        <li><i class="icon arrow_triangle-right"></i>Logo designing</li>
                                        <li><i class="icon arrow_triangle-right"></i>Calculation of Relief on arrear of salary</li>
                                        <li><i class="icon arrow_triangle-right"></i>CMA/Projected Balance Sheet /Estimated Balance Sheet</li>
                                        <li><i class="icon arrow_triangle-right"></i>Accounting/ Book Keeping</li>
                                        <li><i class="icon arrow_triangle-right"></i>Balance Sheet &amp; Profit &amp; Loss account Preparation</li>
                                        <li><i class="icon arrow_triangle-right"></i>Cash Flow</li>
                                        <li><i class="icon arrow_triangle-right"></i>Calculation of depreciation for Company &amp; Non Company</li>
                                        <li><i class="icon arrow_triangle-right"></i>Drafting of By Laws for the society</li>
                                        <li><i class="icon arrow_triangle-right"></i>Calculation of Service tax</li>






                            </ul>

							</div>
						</div><!--end 4 col-->

                    </div><!--end of row-->
				</div>
			</section>


		</div>
		<div class="footer-container">
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white"><h5 style="color: #FFFFFF">Ezligy Consultants LLP</h5><br><span class="text-white">Opp. Hotel Habitate Inn <br> Shinde Ki Chhawani <br> MLB Road Lashkar <br> Gwalior M.P. (474009)</span></span>
                            <span class="text-white"><i class="icon_phone"></i>&nbsp;&nbsp;95845 45000<br><i class="icon_building_alt"></i>&nbsp;&nbsp;0751-4051000</span>
							<span class="text-white"><i class="icon_mail">&nbsp;&nbsp;</i><a href="mailto:contact@ezligy.in?Subject=Hello%20again" target="_top">contact@ezligy.in</a></span>


						</div>
					</div><!--end for row-->
				</div><!--end of container-->

				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_mail"></i>
						<a href="{% url 'feedback' %}" class="text-white"><span class="text-white">Please give your valuable feedbacks <i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>
		</div>









		<script src="{% static 'landing/js/jquery.min.js' %}"></script>
        <script src="{% static 'landing/js/jquery.plugin.min.js' %}"></script>
        <script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'landing/js/jquery.flexslider-min.js' %}"></script>
        <script src="{% static 'landing/js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'landing/js/skrollr.min.js' %}"></script>
        <script src="{% static 'landing/js/spectragram.min.js' %}"></script>
        <script src="{% static 'landing/js/scrollReveal.min.js' %}"></script>
        <script src="{% static 'landing/js/isotope.min.js' %}"></script>
        <script src="{% static 'landing/js/twitterFetcher_v10_min.js' %}"></script>
        <script src="{% static 'landing/js/lightbox.min.js' %}"></script>
        <script src="{% static 'landing/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'landing/js/scripts.js' %}"></script>
    <script>

</script>
    </body>
</html>
